body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

#destination,
#timeLeft {
    font-size: 24px;
    margin-bottom: 20px;
}

#backToLocationChoosing,
#backToLogin,
#backInRoom {
    padding: 10px 20px;
    background-color: #1772d3;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
}

#backToLocationChoosing:hover,
#backToLogin:hover,
#backInRoom:hover {
    background-color: #12559b;
}
