body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

#destination,
#timeLeft,
#leftFrom {
    font-size: 24px;
    margin-bottom: 20px;
}

#backToLocationChoosing,
#backToLogin,
#backInRoom {
    padding: 10px 20px;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
}

#backToLocationChoosing:hover,
#backToLogin:hover,
#backInRoom:hover {
    background-color: #c3751c;
}
#background{
    z-index:-1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, #ff8400, #000033);
}
#header{
    color:rgb(0, 0, 0);
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    position:absolute;
    top:10%;
    left:50%;
    transform: translate(-50%, -10%);
}
#tigerImg{
    position:absolute;
    top:19%;
    left:50%;
    transform: translate(-50%, -19%);
    width:22%;
    height:12%;
}
